<?xml version="1.0"?>
<appSettings>
  <add key="ApplicationName" value="App - App"/>
  <add key="ReqUriAccessToken" value="T1RLAQIwDTqTrGEmLYgLKoxlHOxkvr1QnBBFhQrSp7CVgD6jghP337bLAACgaW9R3zx6Nn0mo094c2qST91Ep/pMim6vNCOtDE0k5inuTkgPel3xJxLm6ivcZ2rUoR7M3xLjbrJIT+svNulhFixriFDQYe6OMUji0imkoXYfAxgksRsSo7C7CvSCr7Wnfp/leAem4bLVJe0zGqMkfq3J1r+0uDxEXxqE1Pnv2XPXP5T0Mt/0HNb4K3s9RXe8Bi8vD9W3jPipSnbLnMXCnw**"/>
  <add key="User" value="Super Administrator"/>
  <add key="webpages:Version" value="2.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="PreserveLoginUrl" value="true"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />

  <add key="PseudoCityCode" value="6DTH"/>
  <add key="username" value="7971"/>
  <add key="password" value="WS072815"/>
  <add key="clientID" value="V1:7971:6DTH:AA"/>
  <add key="clientsecret" value="WS072815"/>
  
  <!--<add key="webserviceurl" value="https://webservices.havail.sabre.com/"/>
   <add key="SareAuthTokenURL" value="https://api.havail.sabre.com/v2/auth/token"/>
  <add key="SareServiceURL" value="https://api.havail.sabre.com/v1.9.0/shop/flights"/>-->
  
  <add key="webserviceurl" value="https://sws-crt.cert.havail.sabre.com"/>
  <add key="SareAuthTokenURL" value="https://api-crt.cert.havail.sabre.com/v2/auth/token"/>
  <add key="SareServiceURL" value="https://api-crt.cert.havail.sabre.com/v3.1.0/shop/flights"/>
  
  
  <add key="SearchBoxServiceURL" value="http://search.nanojot.com/searchboxwebservice.asmx"/>
  
  <!-- <add key="Host" value="smtp.gmail.com"/>
  <add key="EnableSsl" value="true"/> 
 <add key="EmailUserName" value="nanojotca@gmail.com"/>
  <add key="EmailUserName" value="nanojot2018@gmail.com"/>-->
  <!--<add key="EmailUserName" value="reservations@skyflight.ca"/>
   
  <add key="EmailPassword" value="Pa$$isLocK"/>
  <add key="EmailPassword" value="Davinder@2307"/>
  <add key="Port" value="587"/>-->
  <add key="SMTPHostName" value="ilpostino.skylinkgroup.com" />
  <add key="SmtpServerPort" value="25" />
  <add key="SMTPUserName" value="api.@sunspotsholidays.com" />
  <add key="SMTPPassword" value="" />
  
  <add key="recepientEmailCC" value="reservations@skyflight.ca"/>
  <add key="recepientEmailBCC" value="qa@nanojot.com"/>

  <add key="AgencyAddressLine" value="Skyflight Travel Center"/>
  <add key="AgencyCityName" value="Brampton"/>
  <add key="AgencyCountryCode" value="CAN"/>
  <add key="AgencyPostalCode" value="L6Y1N7"/>
  <add key="AgencyStateCode" value="ONT"/>
  <add key="AgencyStreetNumber" value="Suite 209 Main Street South"/>
  <add key="AgencyTicketType" value="7TAW"/>
  <add key="AgencyQueueNo" value="55"/>
  
  <add key="webserviceurl_1" value="https://webservices.havail.sabre.com/"/>
  <add key="PseudoCityCode_1" value="6DTH"/>
  <add key="PseudoCityCode_11" value="6DTH"/>
  <add key="SareServiceURL0" value="https://api.test.sabre.com/v1.9.0/shop/flights"/>
  <add key="SareServiceURL_1" value="https://api.test.sabre.com/v1.9.0/shop/flights"/>

  

  <!--<add key="clientID" value="::6DTH::6DTH::"/>
  //string changepcc = airChangePCC(binarysecuritytoken, "6DTH", "6DTH");
  <add key="clientsecret" value="WS072815"/>-->
  <!--WkS7r7pN-->

  <add key="GISConfigService" value="http://localhost:11011/"/>
  <add key="GISAPPService" value="http://localhost:11012/"/>
  <add key="GISSSOSTSService" value="http://localhost:11013/"/>

  <add key="TempUploadPath" value="\\Projects\GISDoc" />
  <add key="TempUploadPath1" value="\\DocumentRepository\TempUpload\"/>

  <add key="Email1" value="waterdowntravel@gmail.com"/>
  <add key="Email2" value="info@skylight.ca"/>
  <add key="SMTPServerIP" value="webmail.skylinkgroup.com"/>
  <add key="SMTPPort" value="25"/>

</appSettings>

