<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="SQLSource3" connectionString="Data Source=ADMINWIN7;Initial Catalog=TravelApp;User ID=sa;Password=RKPAL#@22819963;Pooling=true;Enlist=false;"  providerName="System.Data.SqlClient"/>
  <add name="SQLSource4" connectionString="Data Source=ADMINWIN7;Initial Catalog=TravelApp;User ID=sa;Password=RKPAL#@22819963;Pooling=true;Enlist=false;"  providerName="System.Data.SqlClient"/>
  <add name="SQLSource2" connectionString="Data Source=NANODB;Initial Catalog=ASTravelDB;User ID=sa;Password=NANODB!@#123;Pooling=true;Enlist=false;"  providerName="System.Data.SqlClient"/>
  <add name="SQLSource1" connectionString="Data Source=NANODB;Initial Catalog=ASTravelDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <!--<add name="SQLSource" connectionString="Data Source=192.168.1.6;Initial Catalog=ASTravelDB;User ID=sa;Password=NANODB!@#123;Pooling=true;Enlist=false;"  providerName="System.Data.SqlClient"/>-->
  <add name="SQLSource" connectionString="Data Source=192.168.1.16;Initial Catalog=AirDB;User ID=Qaconnect;Password=Trick2fix;Pooling=true;Enlist=false;"  providerName="System.Data.SqlClient"/>
  <add name="SQLSource0" connectionString="Data Source=192.168.1.16; Initial Catalog=CommonDB; User ID=Qaconnect; Password=Trick2fix" providerName="System.Data.SqlClient"/>
  <!--<add name="SQLSource1" connectionString="Data Source=NANODB;Initial Catalog=ASTravelDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <add name="AirAdminDBEntities" connectionString="metadata=res://*/Data.Model1.csdl|res://*/Data.Model1.ssdl|res://*/Data.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.6;initial catalog=CommonDB;persist security info=True;user id=Qaconnect;password=Trick2fix;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
