<?xml version="1.0"?>
<connectionStrings>
    <add name="OracleSource" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.2.151.227)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ashbpdhc)));User Id=admin;Password=admin;Pooling=true;Enlist=false;"  providerName="System.Data.OracleClient"/>
  <!--<add name="SQLSource" connectionString="Data Source=SPATIALVM\SQLEXPRESS;Initial Catalog=BPDHCDMS;User ID=sa;Password=sql@1234;Pooling=true;Enlist=false; Persist Security Info=True; Min Pool Size=5;Max Pool Size=90;Connect Timeout=120;"  providerName="System.Data.OracleClient"/>-->
  <add name="AdminDb" connectionString="Data Source=192.168.1.16;Initial Catalog=QA_CommonDB;User ID=heemanshu;Password=$eP@1717"  providerName="System.Data.EntityClient"/>
  <!--<add name="AirAdminDBEntities" connectionString="Data Source=192.168.1.6;Initial Catalog=AirAdminDB;User ID=heemanshu;Password=$eP@1717;" providerName="System.Data.EntityClient"/>-->
  <add name="AirAdminDBEntities" connectionString="metadata=res://*/Data.Model1.csdl|res://*/Data.Model1.ssdl|res://*/Data.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.16;initial catalog=QA_CommonDB;persist security info=True;user id=heemanshu;password=$eP@1717;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="AirAdminDBEntities1" connectionString="metadata=res://*/Data.Model1.csdl|res://*/Data.Model1.ssdl|res://*/Data.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.6;initial catalog=AirAdminDB;persist security info=True;user id=heemanshu;password=$eP@1717;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="AirDb" connectionString="Data Source=192.168.1.16;Initial Catalog=QA_AirDB;User ID=qaconnect;Password=Trick2fix"  providerName="System.Data.EntityClient"/>
  <add name="CommonDb" connectionString="Data Source=192.168.1.16;Initial Catalog=QA_CommonDB;User ID=qaconnect;Password=Trick2fix"  providerName="System.Data.EntityClient"/>

</connectionStrings>
