<?xml version="1.0"?>
<appSettings>
  <add key="ApplicationName" value="QPRO - App"/>
  <add key="User" value="Super Administrator"/>
  <add key="webpages:Version" value="2.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="PreserveLoginUrl" value="true"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <add key="GISConfigService" value="http://localhost:11011/"/>
  <add key="GISAPPService" value="http://localhost:11012/"/>
  <add key="GISSSOSTSService" value="http://localhost:11013/"/>
  <add key="recepientEmailBCC" value="qa@nanojot.com"/>
  <add key="TempUploadPath" value="\\Projects\GISDoc" />
  <add key="TempUploadPath1" value="\\DocumentRepository\TempUpload\"/>
  <add key="SearchBoxServiceURL" value="http://search.nanojot.com/searchboxwebservice.asmx"/>
  
  <add key="AirServiceUrl" value="http://qa.nanojot.com/services/Air" />
   <!--<add key="AirServiceUrl" value="http://localhost:11000/" />
  <add key="mainSite" value="http://bookings.skyflight.ca/air" />-->
  <add key="mainSite" value="http://qa.nanojot.com/air" />

  <!--<add key="mainSite" value="http://localhost:11011/" />-->

  <!--<add key="AirServiceUrl" value="https://services.nanojot.com/air" />
  <add key="mainSite" value="https://bookings.skyflight.ca/air" />-->
</appSettings>

