@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/Shared/_MasterLayoutMain.cshtml";
}



<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="container header-bg">
                        <p>Use information saved sucessfully.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
