<?xml version="1.0"?>
<compilation  debug="true" targetFramework="4.5">
  <!--<assemblies>
    <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <add assembly="Microsoft.Office.Interop.Excel, version=14.0.0.0, culture=neutral, publickeytoken=71e9bce111e9429c" />
  </assemblies>-->
</compilation>
