<?xml version="1.0"?>
<pages clientIDMode="AutoID" enableSessionState="true" > 
  <namespaces>
    <add namespace="System.Web.Helpers"/>
    <add namespace="System.Web.Mvc"/>
    <add namespace="System.Web.Mvc.Ajax"/>
    <add namespace="System.Web.Mvc.Html"/>
    <add namespace="System.Web.Optimization"/>
    <add namespace="System.Web.Routing"/>
    <add namespace="System.Web.WebPages"/>
  </namespaces>
  <!--<controls>
    <add tagPrefix="AjaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
    --><!--<add tagName="HeaderControl" tagPrefix="UserControl" src="~/AppControls/MasterHeaderControl.ascx" />
        <add tagName="FooterControl" tagPrefix="UserControl" src="~/AppControls/FooterControl.ascx" />
        <add tagName="TopHeaderControl" tagPrefix="UserControl" src="~/AppControls/TopHeaderControl.ascx" />
        <add tagName="MenuUserControl" tagPrefix="UserControl" src="~/AppControls/MenuUserControl.ascx" />--><!--
  </controls>-->
</pages>
