@{
    ViewBag.Title = "ForgetPassword Success Confirmation";
    Layout = "~/Views/Shared/_MasterLayoutMain.cshtml";
}



<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="container">
                        <h2>Password reset link has been sent to the provided email address. Please follow the instructions to recover your password</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
