<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 grey_bg">
                <div class="col-md-12 mr-top-30 pd-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 orng_title">
                                <p>
                                    <div class="col-md-12 error_title" id="error_title_title" style="padding:0px!important;"></div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="confirmation-section" style="padding:0px!important">
                        <div class="">
                            <div class="orng_title">
                                <p>
                                    <div class="confirmation_title" id="confirmation_title"></div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="confirmationprepared-section">
                        <div class="col-md-12">
                            <div id="tabs-1">
                                <div class="row">
                                    <div class="col-md-12  Confirmation_PreparedFor" id="Confirmation_PreparedFor">

                                    </div>
                                </div>
                            </div>

                            <div id="tabs-1">
                                <div class="row">
                                    <div class="col-md-12 Confirmation_FlightDetails" id="Confirmation_FlightDetails">

                                    </div>
                                </div>
                            </div>
                            <div id="Confirmation_passengetDetails" id="tabs-1">

                            </div>
                            <!-- flight details -->

                            <div id="tabs-1">
                                <div class="row">
                                    <div class="col-md-12 Confirmation_PaymentDetail" id="Confirmation_PaymentDetail">

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
</div>

<style>
    .orng_title {
        font-size: 22px;
        font-weight: 300;
        background: transparent !important;
        color: black !important;
        line-height: 24px;
        padding: 20px 0px 0 22px;
    }
</style>