@{
    ViewBag.Title = "About";
    ViewBag.ActiveTab = "About";
    Layout = "~/Views/Shared/_MasterLayoutMain.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 id="notforpshead" class="widget-title lighter">About</h4>
                <div class="widget-toolbar no-border">
                </div>
            </div>
            <div class="widget-body">
                <div class="widget-main padding-2">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div>
                                Welcome to Index Page
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


