<div class="col-xs-12 col-sm-6 CategoryPanel">
    <!-- #Section: Step : 1 Brand Layout -->
    <div class="widget-box widget-color-white">
        <div class="widget-header">
            <h5 class="widget-title">ACTION TYPE</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="1 ace-icon fa fa-chevron-up bigger-55"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">

            <div class="widget-main">
                <div class="message-item">
                    <label class="inline">
                        <input type="checkbox" class="ace" />
                        <span class="lbl">ACTION 1</span>
                    </label>
                </div>
                <div class="message-item">
                    <label class="inline">
                        <input type="checkbox" class="ace" />
                        <span class="lbl">ACTION 2</span>
                    </label>
                </div>
                <div class="message-item">
                    <label class="inline">
                        <input type="checkbox" class="ace" />
                        <span class="lbl">ACTION 3</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!-- #Section: Step : 2 Price Layout -->
    <div class="widget-box widget-color-white">
        <div class="widget-header">
            <h5 class="widget-title">PRICE</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="1 ace-icon fa fa-chevron-up bigger-55"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="message-item">
                    <label class="inline">
                        <input type="checkbox" class="ace" />
                        <span class="lbl">PRICE Product</span>
                    </label>
                </div>
                <div class="message-item">
                    <label class="inline">
                        <input type="checkbox" class="ace" />
                        <span class="lbl">PRICE Product</span>
                    </label>
                </div>
                <div class="message-item">
                    <label class="inline">
                        <input type="checkbox" class="ace" />
                        <span class="lbl">PRICE Product</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- #Section: Step : 3 Occesion Layout -->
    <div class="widget-box widget-color-white">
        <div class="widget-header">
            <h5 class="widget-title">OCCASION</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="1 ace-icon fa fa-chevron-up bigger-55"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="message-item">
                    <label class="inline">
                        <input type="checkbox" class="ace" />
                        <span class="lbl">OCCASION Product</span>
                    </label>
                </div>
                <div class="message-item">
                    <label class="inline">
                        <input type="checkbox" class="ace" />
                        <span class="lbl">OCCASION Product</span>
                    </label>
                </div>
                <div class="message-item">
                    <label class="inline">
                        <input type="checkbox" class="ace" />
                        <span class="lbl">OCCASION Product</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- #Section: Step : 4 Type Layout -->
    <div class="widget-box widget-color-white">
        <div class="widget-header">
            <h5 class="widget-title">TYPE</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="1 ace-icon fa fa-chevron-up bigger-55"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="message-item">
                    <label class="inline">
                        <input type="checkbox" class="ace" />
                        <span class="lbl">TYPE Product</span>
                    </label>
                </div>
                <div class="message-item">
                    <label class="inline">
                        <input type="checkbox" class="ace" />
                        <span class="lbl">TYPE Product</span>
                    </label>
                </div>
                <div class="message-item">
                    <label class="inline">
                        <input type="checkbox" class="ace" />
                        <span class="lbl">TYPE Product</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <!-- #Section: Step : 5 Availability Layout -->
    <div class="widget-box widget-color-white">
        <div class="widget-header">
            <h5 class="widget-title">AVAILABILITY</h5>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="1 ace-icon fa fa-chevron-up bigger-55"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="message-item">
                    <label class="inline">
                        <input type="checkbox" class="ace" />
                        <span class="lbl">AVAILABILITY Product</span>
                    </label>
                </div>
                <div class="message-item">
                    <label class="inline">
                        <input type="checkbox" class="ace" />
                        <span class="lbl">AVAILABILITY Product</span>
                    </label>
                </div>
                <div class="message-item">
                    <label class="inline">
                        <input type="checkbox" class="ace" />
                        <span class="lbl">AVAILABILITY Product</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

</div>
