@charset "utf-8";

.btn-default{
    background: #ff8400 !important;
border-color:#ff8400 !important;
}
.btn-default:hover,.btn-default:focus{
    background: #ff8400 !important;
border-color:#ff8400 !important;
}
.filter {
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .filter h5 {
        border-bottom: 1px solid #cecece;
        padding-bottom: 10px;
        font-weight: bold;
    }

        .filter h5 > span {
            color: #bdbdbd;
            font-weight: normal;
            cursor: pointer;
        }

    .filter h6 {
        font-size: 14px;
        color: #ff8400;
    }

.header-bg {
    background: #2d67b2;
    color: #fff;
    padding:10px 25px 3px 25px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top:30px;
}

.search-btn {
    background: #ff8400 !important;
    border-color: #ff8400;
    font-size: 20px!important;
    padding: 3px 25px!important;
    margin-top: 6px;
}

.search-btn:hover {
        background: #df7401 !important;
        border-color: #df7401 !important;
        transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
}

.header-bg h3{margin-top:0 !important;}

.sub-menu {
    display: block;
}

.advance-option {
    margin: 10px 0;
}

.mr-top-30 {
    margin-top: 30px;
}

.discount {
    background: #fec95a;
    height: 90px;
    border: 1px solid #f4555f;
    border-radius: 5px;
    padding-left: 40px;
}

    .discount > img {
        position: absolute;
        left: -20px;
        top: 16px;
    }

    .discount > p {
        font-size: 17px;
        margin-top: 20px;
    }

.bg-gray {
    background: #f2f2f2;
}

.table {
    text-align: center;
}

    .table thead tr th {
        line-height: 50px;
    }

    .table h5 {
        font-weight: bold;
    }

        .table h5 span {
            color: #999;
            font-weight: normal;
        }

.txt-yellow {
    color: #ff8400;
}

.txt-gray {
    color: #999999;
    font-size: 12px;
}

.pd-left-0 {
    padding-left: 0;
}

.pd-rt-0 {
    padding-right: 0;
}

.pd-0 {
    padding: 0;
}

.left-align {
    text-align: left;
}

.rt-align {
    text-align: right;
}




/*.arrow_box {
    position: absolute;
    background: #f5f5f5;
    border: 1px solid #cccccc;
    color: #000;
    z-index: 999;
    width: 750px;
    left: -175px;
    top: 35px;
    padding: 15px;
    display: none;
}*/
.arrow_box {
    /* position: absolute; */
    /* background: #f5f5f5; */
    /* border: 1px solid #cccccc; */
    color: #fff;
    z-index: 999;
    width: 750px;
    /* left: -175px; */
    /* top: 35px; */
    padding: 15px 0 0 15px;
    /* display: none; */
}
    /*.arrow_box:after, .arrow_box:before {
        bottom: 100%;
        left: 30%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box:after {
        border-color: rgba(245, 245, 245, 0);
        border-bottom-color: #f5f5f5;
        border-width: 15px;
        margin-left: -15px;
    }

    .arrow_box:before {
        border-color: rgba(204, 204, 204, 0);
        border-bottom-color: #cccccc;
        border-width: 16px;
        margin-left: -16px;
    }*/

    .arrow_box input, .arrow_box select {
        height: 40px !important;
    }
    
.arrow_box > div {
    padding: 0 5px;
}

.arrow_box a {
    color: #000;
}


.input-group .input-group-addon, .input-group input {
    height: 28px;
}

.input-group .input-group-addon {
    background: #fff;
}


.return:after {
    content: "|";
    position: relative;
    left: 25px;
}


.layout-slider {
    margin: 25px 0;
}

.clear-filter {
    border-color: #000;
    border-radius: 0;
    background: transparent;
}

.rt-align {
    text-align: right !important;
}

.btn-warning {
    background: #ff8400;
    color: #fff;
    font-size: 20px;
}

.txt-green {
    color: #2ba528;
}

.pink-bg {
    background: #fff9f2;
}

#advance.visible {
    display: block;
}

input.date {
    background: url(../img/calender.jpg) #fff no-repeat scroll;
    background-position: 95% 4px;
    padding-right: 30px;
}

input[type="search"] {
    background: url(../img/search.jpg) #fff no-repeat scroll;
    background-position: 95% 10px;
    padding-right: 30px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

input {
    outline: none !important;
}

i[class="fa-fighter-jet"] {
    color: #ff8400;
}

@media screen and (max-width: 768px) {
#frame {
	min-height: 1000px;
}
.footer {
	background-position: inherit!important;
	
	background: none!important;
	background-color: #3e4da6!important;
}
.login-section, .forgot-section, .member-section {

    width: auto!important;
    margin: 0px 20px 20px 20px !important;
	}
	
.login-section { padding:0px 22px 9px 22px!important;}	

}

.carousel-control .glyphicon-chevron-left {
    margin-left: -45px;
    margin-top: -70px;
}

.carousel-control .glyphicon-chevron-right {
    margin-right: -45px;
    margin-top: -70px;
}



/*=================================================================*/

.bg-gray {
    background: #f2f2f2;
}

.table {
    text-align: center;
}

    .table thead tr th {
        line-height: 50px;
    }

    .table h5 {
        font-weight: bold;
    }

        .table h5 span {
            color: #999;
            font-weight: normal;
        }

.txt-yellow {
    color: #ff8400;
}

.txt-gray {
    color: #999999;
    font-size: 12px;
}

a:link, a:hover, a:visited, a:active {
    color: #ff8400;
    /*text-decoration: underline;*/
}

.pd-left-0 {
    padding-left: 0;
}

.pd-rt-0 {
    padding-right: 0;
}

.pd-0 {
    padding: 0;
}

.left-align {
    text-align: left;
}

.rt-align {
    text-align: right;
}

.input-group .input-group-addon, .input-group input {
    height: 28px;
}

.input-group .input-group-addon {
    background: #fff;
}

.return:after {
    content: "|";
    position: relative;
    left: 25px;
}

a.advance-btn {
    color: #fff;
}

.layout-slider {
    margin: 25px 0;
}

.clear-filter {
    border-color: #000;
    border-radius: 0;
    background: transparent;
}

li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab {
    display: inline;
    background: #ffffff;
}

#tabs-1, #tabs-2, #tabs-3 {
    display: block;
    border: 1px solid #ff8400;
    border-radius: 5px;
    margin-top: -2px;
}

#tabs li a {
    color: #000 !important;
    outline: none;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #ff8400;
}

    #tabs li a.active {
        background: #ececec;
        font-weight: bold;
        border: 1px solid #ff8400;
        border-bottom: 1px solid #ececec;
        outline: none;
    }

#tabs table thead tr {
    background: #ececec;
}

    #tabs table thead tr th {
        line-height: 20px;
        font-size: 20px;
        padding: 15px;
    }

        #tabs table thead tr th span.gray {
            font-size: 12px;
            color: #999;
        }

        #tabs table thead tr th span.yellow {
            color: #ff8400;
        }

#tabs .table > tbody > tr > td, #tabs .table > tbody > tr > th, #tabs .table > tfoot > tr > td, #tabs .table > tfoot > tr > th, #tabs .table > thead > tr > td, #tabs .table > thead > tr > th {
    text-align: left;
    border: 0;
}

.rt-align {
    text-align: right !important;
}

.btn-warning {
    background: #ff8400;
    color: #fff;
    font-size: 12px;
}

.txt-green {
    color: #2ba528;
}

.pink-bg {
    background: #fff9f2;
}

#advance.visible {
    display: block;
}

input.date {
    background: url(../img/calender.jpg) #fff no-repeat scroll;
    background-position: 95% 4px;
    padding-right: 30px;
}

input[type="search"] {
    background: url(../img/search.jpg) #fff center no-repeat;
    background-position: 94% 6px;
    padding-right: 30px;
    background-size: 16px;
}


.carousel-control.left, .carousel-control.right {
    background-image: none;
}

input {
    outline: none !important;
}

i[class="fa-fighter-jet"] {
    color: #ff8400;
}

.row.trvl-det div {
    padding: 0 5px;
}

.pd_top {
    padding-top: 10px !important;
}

ul.bullets_or {
    margin: 0;
    padding: 0;
}

.bullets_or li {
    background: url(../img/bullets_or.jpg) no-repeat left 6px;
    list-style: none;
    padding-bottom: 5px;
    padding-left: 15px;
}

.book_btn {
    background: #ff8400;
    border-color: #ff8400;
    padding: 10px 50px;
}

.trvl-det label {
    font-weight: normal;
    margin-top: 7px;
}

.stat_col {
    color: #f00;
    font-size: 14px;
}

ul.bullets_flight {
    margin: 0;
    padding: 0;
}

.bullets_flight li {
    background: url(../img/bullet_flight.jpg) no-repeat left 3px;
    list-style: none;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-left: -15px;
}

.grey_bg {
    background: #f2f2f2;
}

    .grey_bg #tabs-1 {
        border: 1px solid #cecece;
        border-radius: 0;
        background: #fff;
        margin-bottom: 20px;
    }

    .grey_bg .lft_title {
        font-size: 24px;
        font-weight: 300;
        padding-bottom: 15px;
    }

    .grey_bg .green_sel, .grey_sel {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        line-height: 25px;
        background: #2fa904;
        color: #fff;
        text-align: center;
        font-size: 14px;
        padding: 0;
        margin-top: 5px;
        float: right;
        margin-right: 15px;
    }

.grey_sel {
    background: #cccccc;
}

.grey_bg .red_star {
    color: #f00;
    font-size: 12px;
}

.grey_bg .red_star2 {
    color: #f00;
}

/*confirmation page css*/
.thead-inverse th {
    color: #fff;
    background-color: #fd8424;
}

.table thead tr th {
    line-height: 20px;
}

.orng_bg {
    color: #fd8424;
    padding-bottom: 10px;
    padding-top: 20px;
}

    .orng_bg.top {
        padding-top: 0px;
    }

.pad_bot25 {
    padding-bottom: 25px;
}

.fl_heading {
    font-size: 16px;
    font-weight: 300;
}

.orng_title {
    font-size: 22px;
    font-weight: 300;
    background: #fd8424;
    color: #fff;
    line-height: 24px;
    padding: 10px 15px;
}

    .orng_title p {
        margin-bottom: 0;
    }

        .orng_title p span {
            font-size: 16px;
        }

    .orng_title .glyphicon-play {
        font-size: 17px;
    }

    .orng_title .glyphicon-plane {
        font-size: 40px;
        position: absolute;
        top: 15px;
        transform: rotate(35deg);
        -ms-transform: rotate(35deg);
        -webkit-transform: rotate(35deg);
    }

.confir_title {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
}

    .confir_title .glyphicon-play {
        font-size: 18px;
    }

.prep_for {
    color: #fd8424;
    font-weight: bold;
    padding-top: 15px;
}
/*confirmation page css*/

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.without_tab.table {
    border: 1px solid #ff8400;
}

.table {
    text-align: center;
}

.header-bg input{min-height:40px; border:none; }
.header-bg input[type="radio"] {margin-right: 10px !important;min-height: initial;}
#return_btn{display:block;}
input.btn.btn-success.pull-left.pull_up.add_more_field_button{    background-color: #428bca !important;
    border-radius: 4px !important;float: right !important;
        position: absolute;
    right: 0;
    z-index: 99999;
    top: 0px;
}
.remove_field{color:#fff;}

#dataTable_wrapper .col-sm-12 {
	padding-left: 0px;
	padding-right: 0px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button { padding:0px;}
.booking-page h2 {
	font-size: 20px;
	font-weight: 500;
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left {
        margin-left: -45px;
        margin-top: -70px;
    }

    .carousel-control .glyphicon-chevron-right {
        margin-right: -45px;
        margin-top: -70px;
    }

    .col-md-50 {
        width: 12.5%;
    }

    .col-md-75 {
        width: 16.6%;
    }
}

#row1{
        font-size: 20px;
    padding: 10px;
}
#PreLoaderAndWaiting_div h2{
        font-size: 20px;
    padding: 5px;
}
#flt_nav2{
    margin-top:15px;
}
.submenu-btn{
    margin-top:10px;
}
.Footer-iframe
{
    padding-top: 100px;
}

.forgot-section {
	width: 450px;
	margin: 0 auto;
	background:none;
	padding: 30px;
	border-radius: 8px;
}
.forgot-section h2 {
	text-align: center;
	font-size: 20px;
	font-weight: 500;
}

.forgot-section label {
	font-weight: normal;
	font-size: 13px;
}

.forgot-section .form-group {
	margin-bottom: 0px;
}

.forgot-section h4 {
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	margin-top: 8px;
}

.captcha-forgot {
	margin: 20px 0px 0px 0px;
	padding: 12px 11px 13px 11px;
	display: flex;
	flex-direction: inherit;
	line-height: 16px;
	text-align: right;
	font-size: 13px;
	background: #efefef;
}

.captcha-forgot a {
	display: flex !important;
flex-direction: column-reverse;
font-size: 13px;
}

.captcha-forgot img {
	width: 120px;
	float: left;
	margin: 0 10px 0 0;
	vertical-align: top;
}

/*-----------*/

.member-section {
	width: 500px;
	margin: 0 auto;
	background:none;
	border-radius: 8px;
	padding: 17px 0;
}

.member-section label {
	font-weight: normal;
	font-size: 13px;
}

.member-section h2 {
	text-align: center;
	font-size:20px;
	font-weight:500;
}

.member-section h3 {
	text-align: center;
	font-size: 16px;
	font-weight: normal;
}

.member-section .form-group {
	margin-bottom: 0px;
}

.btnSubmit {
	/* margin-top: 120px; */
	top: 30px;
}

.member-section input[type="submit"] {
	text-align: center;
	margin: 0 auto;
	display: table;
}


/*---login section --*/
.login-section {
	width: 450px;
	margin: 0 auto;
	background: none;
	border-radius: 8px;
	padding: 22px 22px 9px 22px;
}

.login-btns {
	text-align: center;
}
.login-section label {
	font-weight: normal;
	font-size: 13px;
}

.login-section .form-group {
	margin-bottom: 0px;
}
.login-section h2 {
	text-align: center;
	font-size: 20px;
	font-weight: 500;
}

.forgot {
	text-align: center;
	margin: 8px 0 0 0;
}

.captcha {
	margin: 20px 0px 0px 0px;
	padding: 12px 11px 13px 11px;
	display: flex;
	flex-direction: inherit;
	line-height: 16px;
	text-align: right;
	font-size: 13px;
	background: #efefef;
}

.captcha img {
	width: 120px;
	float: left;
	margin: 0 10px 0 0;
	vertical-align: top;
}

.login-btns .btn-default {
	font-size: 15px;
	margin-top: 5px;
}

.captcha a {
	display: flex !important;
flex-direction: column-reverse;
font-size: 13px;
}

.field-validation-error {
	font-size: 13px;
}

.Error {
	display: contents;
}

.forgot a {
	font-size: 13px;
	margin: 0;
	padding: 0;
}

#CaptchaInputText {
	margin: 0 0px 0 10px;
}

/*---- login end --*/

.login-section h2 {
	text-align: center;
}

.update-profile-section {
	margin: 0 auto;
	background: #ddd;
	padding: 30px 30px 30px 30px;
border-radius: 10px;
}

.update-profile-section h2 {
	text-align: center;
	padding-bottom: 20px;
}

.update-profile-section .red_star2 {
	padding-left: 30px;
	padding-top: 7px;
}

@media screen and (max-width: 768px) {
#CaptchaInputText {
	margin: 7px 0px 0 0px;
	width: 100%;
}

.captcha {
	padding: 0px 13px 13px 12px;
	display: block;
	flex-direction: inherit;
	text-align: left;
	margin: 10px 0 0 0;
}

.captcha-forgot { padding: 0px 13px 13px 12px;
	display: block;
	flex-direction: inherit;
	text-align: left;
	margin: 10px 0 0 0;
	}

.login-section h2 { display:none;}	
.login-section .form-horizontal hr {
	display: none;
}



}