<div class="popup-container_1" id="ModelContentDetailsContainer" style="z-index: 9999; ">
    <h3><span class="close1 pull-right closeModelContentDetailsContainer">
        <img src="~/Content/assets/images/close.png" /></span><div id="ModelContentDetailsContainerTitle">Details</div></h3>
    <div class="popup-contents" id="ModelContentData">
        Welcome to Panel Details.
    </div>
</div>




























































































































@*<div class="popup-container" id="DuctLocationDetailsContainer" style="z-index: 9999; text-align: center; left: 0">
    <h3><span class="close1 pull-right">
        <img src="~/Images/close.png" /></span>Search Data</h3>
    <div class="popup-content">
        <div class="panel-group" id="accordion">
            <form class="form-horizontal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;
                                </span>
                                <span class="sr-only">Close
                                </span>
                            </button>
                            <h4 class="modal-title" id="exampleModalLabel">Content Header
                            </h4>
                        </div>
                        <div class="modal-body">
                            You can place content over here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal">
                                Ok
                            </button>
                            <button type="button" class="btn btn-xs btn-danger">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
*@




@*<div class="modal fade" id="exampleModal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 200px;">*@

@*<div class="modal fade" id="DuctDetailsModalPanel" title="Basic dialog" role="dialog" aria-labelledby="DuctDetailsModalPanel" aria-hidden="true" style="margin-top: 200px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;
                    </span>
                    <span class="sr-only">Close
                    </span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">Content Header
                </h4>
            </div>
            <div class="modal-body">
                You can place content over here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-xs btn-danger" data-dismiss="modal">
                    Ok
                </button>
                <button type="button" class="btn btn-xs btn-danger">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>*@
