<div class="row">
    <div class="col-xs-12"  style="line-height:0;">
        <div class="widget-box refine-box">
            <div class="widget-header">
                <h5 class="widget-title">Refine Your Search</h5>
            </div>
            <div class="widget-body">
                <div class="widget-main" style="padding:0px;">
                    <div class="background-blue">
                        <div class="col-md-12   hidden">
                            <h5 class="hidden bolder ">
                                Stops <span href="#flt_nav1" class="pull-right hidden p-toggle sortable" data-toggle="collapse">
                                    <i class="fa fa-caret-right fa-fw"></i>
                                    <i class="fa fa-caret-down fa-fw"></i>
                                </span>
                            </h5>
                            <div id="flt_nav1" class="active collapse in   hidden">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="">
                                        Nonstop
                                    </label>
                                    <span class="pull-right">C$1,410.92</span>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="">
                                        1 stop
                                    </label>
                                    <span class="pull-right">C$1,410.92</span>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="">
                                        2 + stop
                                    </label>
                                    <span class="pull-right">C$1,410.92</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 submenu-btn">
                            <br />
                            <h5 class="bolder ">
                                Price Range <span href="#flt_nav3" class="pull-right p-toggle sortable" data-toggle="collapse">
                                    <i class="fa fa-caret-right fa-fw"></i>
                                    <i class="fa fa-caret-down fa-fw"></i>
                                </span>
                            </h5>
                            <div id="flt_nav3" class="active collapse in xxxx">
                                <div class="layout-slider">
                                    <input id="Price-range-slider" type="slider" name="area" value="0;10000" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h5 class="bolder">
                              Outbound Flight Times <span href="#flt_nav2" class="pull-right p-toggle sortable" data-toggle="collapse">
                                    <i class="fa fa-caret-right fa-fw"></i>
                                    <i class="fa fa-caret-down fa-fw"></i>
                                </span>
                            </h5>
                            <div id="flt_nav2" class="active collapse in">
                                <p>Departure Time</p>

                                <div class="layout-slider">
                                    <input id="Departure-range-slider" type="slider" name="area" value="000;2400" class="selector" />
                                </div>
                                <p>Arrive Time</p>
                                <div class="layout-slider">
                                    <input id="Arrive-range-slider" type="slider" name="area" value="000;2400" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12  hidden">
                            <h5 class="bolder">
                                Connection Time <span href="#flt_nav4" class="pull-right p-toggle sortable" data-toggle="collapse">
                                    <i class="fa fa-caret-right fa-fw"></i>
                                    <i class="fa fa-caret-down fa-fw"></i>
                                </span>
                            </h5>
                            <div id="flt_nav4" class="active collapse in">
                                <div class="form-group">
                                    <label> Show Layovers up to: </label>
                                    <select class="form-control">
                                        <option>25 Hours</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12  hidden">
                            <h5 class="bolder">
                                Dates <span href="#flt_nav5" class="pull-right p-toggle sortable" data-toggle="collapse">
                                    <i class="fa fa-caret-right fa-fw"></i>
                                    <i class="fa fa-caret-down fa-fw"></i>
                                </span>
                            </h5>
                            <div id="flt_nav5" class="active collapse in">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="">
                                        Show flexible dates
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" hidden>
                            <h5 class="bolder">
                                Airports <span href="#flt_nav6" class="pull-right p-toggle sortable" data-toggle="collapse">
                                    <i class="fa fa-caret-right fa-fw"></i>
                                    <i class="fa fa-caret-down fa-fw"></i>
                                </span>
                            </h5>
                            <div id="flt_nav6" class="active collapse in">
                                <h6>Departing from</h6>
                                <div id="Div_Search-Result-Departing">
                                    No Data...
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="line-height:1.5;">
                            <h5 class="bolder">
                                Airlines <span href="#flt_nav7" class="pull-right p-toggle sortable" data-toggle="collapse">
                                    <i class="fa fa-caret-right fa-fw"></i>
                                    <i class="fa fa-caret-down fa-fw"></i>
                                </span>
                            </h5>
                            <div id="flt_nav7" class="active collapse in">
                                <div id="Div_Search-Result-Airlines">
                                    No Data...
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-md-12    hidden">
                            <button class="btn ">Clear all filters</button>
                        </div>
                    </div>
                    <div class="widget-toolbox clearfix center">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

    .checkbox label{line-height: 1.2;}
.checkbox label input{margin-top:0px;}
</style>


