<div class="col-md-12 discount  hidden">
    <img src="~/Content/NanoJot/img/discount.png" alt="">
    <p>
        Booking Bonus: Instant Saving Discount up to <span style="color:#fd5d65;">C$21</span> Off applied to fares
        Fares Change Frequently; Don't miss out - Book Now
    </p>
</div>
